@font-face {
  font-family: 'PN-Bold'; /*a name to be used later*/
  src: url('ProximaNova\/ProximaNova-Bold.ttf'); /*URL to font*/
}

html, body {
  overflow: auto;
  overflow-x: hidden;
}

br {
  display: block;
  margin: 10px 0;
}

.avatar {
  /* align-content: center; */
  width: 162px;
  height: 162px;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 3px 3px 14px rgba(0, 0, 0, .2);
  margin: 8 8 8 8;
}

.cvContainer {
  padding-left: 48pt;
}


.bioContainer {
  margin-bottom: auto;
  margin-top: auto;
  padding-left: 28px;
}

.zeroMargin {
  margin: 0 0 0 0;
}

.cvHeader {
  text-align: left;
  width: 100%;
  font-size: 72px;
  opacity: 0.3;
  text-decoration: none;
  font-family: 'PN-Bold';
  color: #464242;
}

.centerTitle {
  text-align: center;
  width: 100%;
  font-size: 48px;
  text-decoration: none;
  font-family: 'PN-Bold';
  color: #464242;
}

/* The side navigation menu */
.sidenav {
  width: 0px; /* 0 width - change this with JavaScript */
  background-color: #464242; /* Black*/
  padding-top: 32px; /* Place content 60px from the top */
  overflow: auto;
  padding-bottom: 32px;
  transition: width .2s;
  overflow-y: hidden;
  min-height: 100%;
  margin-bottom: 0;
}

.miniSidePoint {
  font-size: 32px;
  color: #8D8D8D !important;
  text-align: left;
  padding-left:  32px;
  text-decoration: none;
  font-family: 'PN-Bold';
}

#miniSidenav {
  z-index: 1;
}

#mySidenav {
  z-index: 2;
}
.main {

}

.rightContainer {
  opacity: 0;
  transition: opacity .1s; /* Animation */
  overflow: static;
}

.link {
  color: #D5D5D5 !important;
  font-size: 48px;
  text-align: left;
  padding-left:  32px;
  text-decoration: none;
  font-family: 'PN-Bold';
}

.row {
overflow: hidden;
}

.bioDiv {
  padding-left: 16px;
}

.p-l-8 {
  padding-left: 8px;
}

.bioTextValue {
  color: #464242;
  font-size: 28px;
  text-align: left;
  text-decoration: none;
  font-family: 'PN-Bold';
}

.bioText {
  opacity: 0.3;
  color: #464242;
  font-size: 28px;
  text-align: left;
  text-decoration: none;
  font-family: 'PN-Bold';
}

.oneLine {
  display: inline-block;
}

.oneRow {
  display: inline-block;
  padding-left: 24px;
}

.sideTitle {
  color: #707070 !important;
  font-size: 48px;
  text-align: left;
  padding-left:  32px;
  font-family: 'PN-Bold';
}

.sideHeader {
  color: #8D8D8D !important;
  font-size: 72px;
  text-align: left;
  padding-left:  32px;
  text-decoration: none;
  font-family: 'PN-Bold';
}


.sideText {
  color: #D5D5D5 !important;
  font-size: 48px;
  text-align: left;
  padding-left: 12px;
  text-decoration: none;
  font-family: 'PN-Bold';
}

.open {
  transition: width .2s; /* Animation */
  width: 650px; /* Animation */
}

.open:hover {
  width: 100%; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom {
  transition: transform .1s; /* Animation */
}

.zoom:hover {
  transform: scale(1.15); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */